name: Test and build
on:
  pull_request:
    types:
    - opened
  push:

jobs:
  tests:
    name: Test
    strategy:
      matrix:
        go_version:
        - "1.24"
        - "1.25"
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        show-progress: false
    - name: Use golang ${{ matrix.go_version }}
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        go-version: ${{ matrix.go_version }}
        check-latest: true
    - name: Go get dependencies
      run: go get -v -t -d ./...
    - name: Run tests
      run: make coverage
    - name: Send the coverage output
      uses: coverallsapp/github-action@648a8eb78e6d50909eff900e4ec85cab4524a45b # v2.3.6
      with:
        flag-name: go-${{ join(matrix.*, '-') }}
        parallel: true
        file: coverage.out

  post-tests:
    needs: tests
    runs-on: ubuntu-latest
    steps:
    - name: Coveralls Finished
      uses: coverallsapp/github-action@648a8eb78e6d50909eff900e4ec85cab4524a45b # v2.3.6
      with:
        parallel-finished: true

  test-latest:
    name: Test latest
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
    - name: Checkout repository
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        show-progress: false
    - name: Use golang stable
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        go-version: stable
        check-latest: true
    - name: Go get dependencies
      run: go get -v -t -d ./...
    - name: Run tests
      run: make coverage

  bench:
    name: Benchmark
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        show-progress: false
    - name: Setup golang
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        go-version-file: go.mod
        check-latest: true
    - name: Run benchmark
      run: make bench | tee output.txt; exit ${PIPESTATUS[0]}
    - name: Download previous benchmark data
      uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
      with:
        path: ./cache
        key: ${{ runner.os }}-benchmark
    - name: Store benchmark result
      uses: benchmark-action/github-action-benchmark@4bdcce38c94cec68da58d012ac24b7b1155efe8b # v1.20.7
      with:
        tool: go
        output-file-path: ./output.txt
        external-data-json-path: ./cache/benchmark-data.json
        comment-on-alert: false
        fail-on-alert: true
    # only execute this step when cache was restored
    # do not fail hard here, as the key might not exist
    - name: Clear cache
      shell: bash
      if: ${{ github.ref == format('refs/heads/{0}', github.event.repository.default_branch) }}
      env:
        GH_TOKEN: ${{ github.token }}
      run: |
        gh extension install actions/gh-actions-cache
        gh actions-cache delete '${{ runner.os }}-benchmark' --confirm
      continue-on-error: true
    - name: Update benchmark data
      if: ${{ github.ref == format('refs/heads/{0}', github.event.repository.default_branch) }}
      uses: actions/cache/save@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
      with:
        path: ./cache
        key: ${{ runner.os }}-benchmark

  build:
    name: Build Docker Images
    runs-on: ubuntu-latest
    if: ${{ startsWith(github.ref, 'refs/tags/') || github.ref == format('refs/heads/{0}', github.event.repository.default_branch) }}
    permissions:
      actions: read
      contents: write
      packages: write
      id-token: write
    steps:
    - name: Checkout code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        show-progress: false
    - name: Docker Login to GitHub Repository
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Docker Login to DockerHub
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      with:
        username: ${{ secrets.BOT_DOCKER_USERNAME }}
        password: ${{ secrets.BOT_DOCKER_TOKEN }}
    - name: Login to Mia registry
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      with:
        registry: nexus.mia-platform.eu
        username: ${{ secrets.MIA_PLATFORM_DOCKER_REGISTRY_USERNAME }}
        password: ${{ secrets.MIA_PLATFORM_DOCKER_REGISTRY_PASSWORD }}
    - name: Install Cosign
      uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0
    - name: Set up QEMU
      uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0
      with:
        platforms: amd64,arm64
    - name: Configure docker metadata
      id: meta
      uses: docker/metadata-action@c1e51972afc2121e065aed6d45c65596fe445f3f # v5.8.0
      env:
        DOCKER_METADATA_ANNOTATIONS_LEVELS: manifest,index
      with:
        images: |
          ghcr.io/rond-authz/rond
          docker.io/rondauthz/rond
          nexus.mia-platform.eu/rond-authz/rond
        tags: |
          type=ref,event=branch
          type=semver,pattern={{version}}
          type=semver,pattern={{major}}.{{minor}}
          type=semver,pattern={{major}}
        labels: |
          org.opencontainers.image.documentation=https://rond-authz.io
          org.opencontainers.image.vendor=rond authz
        annotations: |
          org.opencontainers.image.documentation=https://rond-authz.io
          org.opencontainers.image.vendor=rond authz
    - name: Setup Buildx Context
      uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      id: buildx
      with:
        platforms: linux/amd64,linux/arm64
    - name: Build and push
      id: docker-build
      uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
      with:
        context: .
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        annotations: ${{ steps.meta.outputs.annotations }}
        platforms: ${{ steps.buildx.outputs.platforms }}
        cache-from: type=gha
        cache-to: type=gha,mode=max
    - name: Generate SBOM
      uses: anchore/sbom-action@f8bdd1d8ac5e901a77a92f111440fdb1b593736b # v0.20.6
      if: github.ref_type == 'tag'
      with:
        artifact-name: rond-authz-sbom.spdx.json
        output-file: ./rond-authz-sbom.spdx.json
        image: nexus.mia-platform.eu/rond-authz/rond:${{ steps.meta.outputs.version }}
        upload-release-assets: true
    - name: GCP Auth
      uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
      if: github.ref_type == 'tag'
      with:
        project_id: ${{ secrets.MIA_PLATFORM_KMS_PROJECT }}
        workload_identity_provider: ${{ secrets.MIA_PLATFORM_GCP_WIF }}
        create_credentials_file: true
    - name: Sign public images with Mia-Platform key
      if: github.ref_type == 'tag'
      run: |
        for tag in ${TAGS}; do
          image="${tag}@${DIGEST}"
          cosign sign --recursive --yes --key "${COSIGN_PRIVATE_KEY}" "${image}"
          cosign attest --yes --key "${COSIGN_PRIVATE_KEY}" --predicate "rond-authz-sbom.spdx.json" --type="spdxjson" "${image}"
        done
      env:
        TAGS: |
          ghcr.io/rond-authz/rond:${{ steps.meta.outputs.version }}
          docker.io/rondauthz/rond:${{ steps.meta.outputs.version }}
          nexus.mia-platform.eu/rond-authz/rond:${{ steps.meta.outputs.version }}
        DIGEST: ${{ steps.docker-build.outputs.digest }}
        COSIGN_PRIVATE_KEY: ${{ secrets.MIA_PLATFORM_COSIGN_KEY }}
